{:require [hexperiment.core]
 :init-fns [hexperiment.core/main]
 :compiler-options {:optimizations :none
                    :output-dir "public/js/ui.out"
                    :output-to "public/js/ui.js"}}

